* {
    border: 0.1rem solid white;
}

/* Universal Styles */

html {
    font-size: 22px;

}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
  
}

nav {
    text-decoration: underline;
}

h1 {

}

main {
    
}

.flex-container {
   
}

/* Mission Section */

#mission {

}

.content {

}

/* Store Section */

#store {

}

.flex-container .items {

}

item {

}

/* Locations Section */

#locations {

}

.flex-container .locations {

}

.location {

}

/* Contact Section */

#contact {

}


/* Footer Section */

.copyright {

}