/*** Universal Styles ***/

html {
    font-size: 22px;
}

body {
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center; 
    margin: 0;
}

a {   
    color: seashell;
    margin-right: 10px;
}

h2,
h3,
h4 { 
    margin: 0;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;  
    flex-wrap: wrap; 
    border: 2px solid purple; 
}

/*** Header Section ***/

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

header img {  
    height: 50px;
    padding-left: 10px;
    border: 2px solid turquoise;
}

nav {
    text-align: right;
    flex-grow: 1;
    border: 2px solid turquoise;
}

/*** Main Section ***/

.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}

/*** Mission Section ***/

#mission {
    height: 700px;
    background-image: url('./images/img-mission-background.webp');
    padding-top: 70px;
}

#mission .content { 
     margin: auto;
    background-color: black;
    width: 100%;
    border: 2px solid turquoise;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content h2, .content h4 {
    flex-shrink: 1;
}

/*** Store Section ***/

#store {
    width: 100%;
    margin: auto;
    padding-top: 70px;
}

.item {
    padding: 5px;
    border: 2px solid turquoise;
}

.item img {
    height: 200px;
    margin: 10px;
    display: block;
}

.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

/*** Locations Section ***/

.flex-container.locations {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#locations {
    background-image: url('./images/img-locations-background.webp');
    height: 500px;
    padding-top: 70px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

#locations .flex-container {
    margin: auto;
    width: 1100px;
}

.location {
    opacity: 1;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid turquoise;
}

/* Contact Section */

#contact {
    height: 200px;
}


/* Footer Section */

footer {
    text-align: left;
    padding-left: 20px;
}

.copyright {

}